# Kluczowe zależności – bez sztywnego przypięcia wersji
streamlit
pandas
numpy
plotly
joblib
boto3
python-dotenv
scikit-learn

# Dwie zależności z wymaganą wersją minimalną (ze względu na używane funkcje)
openai>=1.55.0
langfuse==2.50.0